
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Məlumatlar yazıldı.</h3>

        <a class="btn btn-primary" href="@Url.Action("index", "customers")">Sayta keç</a>
    </div>
</body>
</html>
